<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="f">
    <!-- footer area start -->
    <footer class="footer-area">
        <div class="copyright-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div>
                        <p><a target="_blank" href="https://beian.miit.gov.cn/" style="color: white">桂ICP备20005695号</a>&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45098102000418"
                                                                                                                                style="text-decoration: none;color: white"><img id="img2" th:src="@{/static/images/beian.png}" alt="">&nbsp;桂公网安备45098102000418号</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
</div>
</body>
</html>