/*鼠标停在div上出现阴影*/
.shadow {
    transition-duration: 1s; /*停留时间显示*/
}

.shadow:hover {
    -webkit-box-shadow: #337ab7 0px 10px 10px;
    -moz-box-shadow: #337ab7 0px 10px 10px;
    box-shadow: #337ab7 0px 3px 3px;
    background-color: #eaf6ff;
}

/*博客列表图片略缩图放大*/
#div111 {
    width: 333px;
    height: 108px;
    margin: 50px auto;
    overflow: hidden;
}

#div111 img {
    cursor: pointer;
    transition: all 0.6s;
}

#div111 img:hover {
    transform: scale(1.05);
}

/*右侧菜单鼠标悬停链接变色*/
a.test:hover {
    color: red;
}

/*鼠标悬停链接变红色(博客列表的博客标题)*/
a.blogTitleTest:hover {
    color: red;
}

/*鼠标悬停链接变红色(菜单)*/
a.ahead:hover {
    color: red;
}

/*博客详情标题*/
.title3 {
    width: 100%;
    display: block;
    line-height: 1.5em;
    overflow: visible;
    font-size: 22px;
    text-shadow: #f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0
}

/*改变上一篇和下一篇博客代码样式*/
a.a11:hover {
    background-color: #0c9c6e;
}

a.a12:hover {
    background-color: #0c9c6e;
}

a.a13:hover {
    background-color: red;
}

a.a14:hover {
    background-color: red;
}

/*鼠标悬停按钮变色*/
button.btn11:hover {
    background-color: #00B0E8;
}

pre code{
    font-size: 17px;
}

blockquote {
    background-color: #e9f3f6;
    border-left: 0.6em solid #6caef5;
    margin: 1.0em 0 1.0em;
    padding: 1em 1em 1em 1em;
    position: relative;
    color: black;
    font-size: 17px;
}