.hljsln {
    position: relative;
    display: block;
    padding-left: 3em !important;
}

.hljsln .ln-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 2.2em;
    height: 100%;
    border-right: 1px solid #555;
    background: rgba(255, 255, 255, 0.18);
}

.hljsln .ln-num {
    position: relative;
    display: inline-block;
    height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hljsln .ln-num::before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin-right: 1em;
    color: #777;
    font-style: normal;
    font-weight: normal;
    content: attr(data-num);
}

/*鼠标停在div上出现阴影*/
.shadow {
    transition-duration: 1s; /*停留时间显示*/
}

.shadow:hover {
    -webkit-box-shadow: #337ab7 0px 10px 10px;
    -moz-box-shadow: #337ab7 0px 10px 10px;
    box-shadow: #337ab7 0px 3px 3px;
    background-color: #eaf6ff;
}

/*博客列表图片略缩图放大*/
#div111 {
    width: 333px;
    height: 108px;
    margin: 50px auto;
    overflow: hidden;
}

#div111 img {
    cursor: pointer;
    transition: all 0.6s;
}

#div111 img:hover {
    transform: scale(1.05);
}

/*右侧菜单鼠标悬停链接变色*/
a.test:hover {
    color: red;
}

/*鼠标悬停链接变红色(博客列表的博客标题)*/
a.blogTitleTest:hover {
    color: red;
}

/*鼠标悬停链接变红色(菜单)*/
a.ahead:hover {
    color: red;
}

/*博客详情标题*/
.title3 {
    width: 100%;
    display: block;
    line-height: 1.5em;
    overflow: visible;
    font-size: 22px;
    text-shadow: #f3f3f3 1px 1px 0px, #b2b2b2 1px 2px 0
}

/*改变上一篇和下一篇博客代码样式*/
a.a11:hover {
    background-color: #0c9c6e;
}

a.a12:hover {
    background-color: #0c9c6e;
}

a.a13:hover {
    background-color: red;
}

a.a14:hover {
    background-color: red;
}

/*鼠标悬停按钮变色*/
button.btn11:hover {
    background-color: #00B0E8;
}

pre {
    font-size: 15px;
    display: inline;
}