/*博客列表图片略缩图放大*/
.div111 {
    width: 388px;
    height: 108px;
    margin: 50px auto;
    overflow: hidden;
}

.div111 img {
    cursor: pointer;
    transition: all 0.6s;
}

.div111 img:hover {
    transform: scale(1.06);
}

/*鼠标停在div上出现阴影*/
.shadow {
    transition-duration: 1s; /*停留时间显示*/
}

.shadow:hover {
    -webkit-box-shadow: #337ab7 0px 10px 10px;
    -moz-box-shadow: #337ab7 0px 10px 10px;
    box-shadow: #337ab7 0px 3px 3px;
    background-color: #eaf6ff;
}

.hoverChangeColorRed:hover {
    color: red;
}

img {
    max-width: 888px;
    height: auto;
}

blockquote {
    background-color: #e9f3f6;
    border-left: 0.6em solid #6caef5;
    margin: 1.0em 0 1.0em;
    padding: 1em 1em 1em 1em;
    position: relative;
    color: black;
    font-size: 17px;
}

pre code {
    font-size: 17px;
}