<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/static/css/my.css}">
    <link rel="stylesheet" th:href="@{/static/css/hint.css}">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/style2.css}">
    <link rel="short icon" th:href="@{/static/images/favicon.ico}">
    <link rel="stylesheet"
          th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/'+${codeStyle==null?'androidstudio':codeStyle}+'.min.css'}">
    <script th:src="@{/static/js/highlight.line-numbers.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();
    hljsln.initLineNumbersOnLoad();</script>
    <script th:inline="javascript">
        function submitComment() {
            var content = $("#commentContent").val();
            var blogId = $("#commentBlogId").val();
            if (content == null || content == '') {
                alert("请输入评论内容!!");
                return false;
            }
            $.post("/comment/add", {content: content, blogId: blogId},
                function (result) {
                    if (result.success) {
                        alert("评论成功,审核通过后方可在下方显示!!");
                        $("#commentContent").val("");
                    } else {
                        alert(result.errorInfo);
                    }
                }
            );
        }

        //用户点赞博客
        function like() {
            var blogId = $("#commentBlogId").val();
            $.post("/like/add", {blogId: blogId},
                function (result) {
                    if (result.success) {
                        alert("点赞成功!!");
                        $("#like1").removeAttr("href");
                        $("#like1").attr("href", "#");
                        $("#like1").removeAttr("aria-label");
                        $("#like1").attr("aria-label", "你已经点赞过这篇博客");
                        $("#like1").removeAttr("style");
                        $("#like1").attr("style", "float: right;color: blue");
                        $("#i1").removeAttr("class");
                        $("#i1").attr("class", "fa fa-thumbs-up");
                    } else {
                        alert("点赞失败!!");
                    }
                }
            );
        }

        //返回顶部图标出现或者消失
        $(function () {
            $(function () {
                $(window).scroll(function () {
                    if ($(window).scrollTop() > 100) {
                        $("#gotop").fadeIn(1000);//一秒渐入动画
                    } else {
                        $("#gotop").fadeOut(1000);//一秒渐隐动画
                    }
                });

                $("#gotop").click(function () {
                    $('body,html').animate({scrollTop: 0}, 1000);
                });
            });
        });

        /* 鼠标特效 */
        var a_idx = 0;
        jQuery(document).ready(function ($) {
            $("body").click(function (e) {
                var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正", "法治", "爱国", "敬业", "诚信", "友善");
                var $i = $("<span/>").text("👍" + a[a_idx]);
                a_idx = (a_idx + 1) % a.length;
                var x = e.pageX,
                    y = e.pageY;
                $i.css({
                    "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
                    "top": y - 20,
                    "left": x,
                    "position": "absolute",
                    "font-weight": "bold",
                    "color": "#ff6651"
                });
                $("body").append($i);
                $i.animate({
                        "top": y - 400,
                        "opacity": 0
                    },
                    1500,
                    function () {
                        $i.remove();
                    });
            });
        });

        $(document).ready(function () {
            //全部图片
            $("img").addClass("img-responsive");
            $("img").addClass("pimg");
            $("img").addClass("img-thumbnail");
            //首页图片
            $(".indexFirstImage").removeClass("pimg");
            //logo
            $("#img1").removeClass("img-responsive");
            $("#img1").removeClass("pimg");
            $("#img1").removeClass("img-thumbnail");
            //备案图片
            $("#img2").removeClass("img-responsive");
            $("#img2").removeClass("pimg");
            $("#img2").removeClass("img-thumbnail");
            //完字图片
            $("#img3").removeClass("img-responsive");
            $("#img3").removeClass("pimg");
            $("#img3").removeClass("img-thumbnail");
            //返回顶部图片
            $("#gotop").removeClass("img-responsive");
            $("#gotop").removeClass("pimg");
            //评论人图片
            $(".img-rounded").removeClass("pimg");
            //鼠标悬停更换返回顶部图片
            $(".imgdiv").mouseover(function () {
                $(".imgsrc").attr("src", "/static/images/top4.png");
            });
            $(".imgdiv").mouseout(function () {
                $(".imgsrc").attr("src", "/static/images/top2.png");
            });
            $("table").addClass("table table-striped table-hover");
            $("pre").css("font-family", "SimHei");
            $("img").attr("alt", "请刷新本页面以查看图片，如果图片已失效请到对应博客的评论区下给我留言┭┮﹏┭┮");
            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
            });
        });


        //图片放大
        $(function () {

            $(".pimg").click(function () {
                var _this = $(this);//将当前的pimg元素作为_this传入函数
                imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);
            });
        });

        function imgShow(outerdiv, innerdiv, bigimg, _this) {

            var src = _this.attr("src");//获取当前点击的pimg元素中的src属性
            $(bigimg).attr("src", src);//设置#bigimg元素的src属性
            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
            $("<img/>").attr("src", src).load(function () {
                var windowW = $(window).width(); //获取当前窗口宽度
                var windowH = $(window).height(); //获取当前窗口高度
                var realWidth = this.width; //获取图片真实宽度
                var realHeight = this.height; //获取图片真实高度
                var imgWidth, imgHeight;
                var scale = 0.8; //缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放
                if (realHeight > windowH * scale) { //判断图片高度
                    imgHeight = windowH * scale; //如大于窗口高度，图片高度进行缩放
                    imgWidth = imgHeight / realHeight * realWidth; //等比例缩放宽度
                    if (imgWidth > windowW * scale) { //如宽度扔大于窗口宽度
                        imgWidth = windowW * scale; //再对宽度进行缩放
                    }
                } else if (realWidth > windowW * scale) { //如图片高度合适，判断图片宽度
                    imgWidth = windowW * scale; //如大于窗口宽度，图片宽度进行缩放
                    imgHeight = imgWidth / realWidth * realHeight; //等比例缩放高度
                } else { //如果图片真实高度和宽度都符合要求，高宽不变
                    imgWidth = realWidth;
                    imgHeight = realHeight;
                }
                $(bigimg).css("width", imgWidth); //以最终的宽度对图片缩放
                var w = (windowW - imgWidth) / 2; //计算图片与窗口左边距
                var h = (windowH - imgHeight) / 2; //计算图片与窗口上边距
                $(innerdiv).css({"top": h, "left": w}); //设置#innerdiv的top和left属性
                $(outerdiv).fadeIn("fast"); //淡入显示#outerdiv及.pimg
            });

            $(outerdiv).click(function () {  //再次点击淡出消失弹出层
                $(this).fadeOut("fast");
            });
        }

        //点击显示其余评论
        /*function afterClick1() {
            $("#a1").attr("hidden", "true");
            $("#a2").removeAttr("hidden");
        }*/

        //点击收起评论
        /*function afterClick2() {
            $("#a1").removeAttr("hidden");
            $("#a2").attr("hidden", "true");
        }*/

        //点赞博客按钮悬停提示
        $(function () {
            var x = 10;
            var y = 20;
            var newtitle = '';
            $('i.mytooltip').mouseover(function (e) {
                newtitle = this.title;
                this.title = '';
                $('body').append('<div id="mytitle" >' + newtitle + '</div>');
                $('#mytitle').css({
                    'left': (e.pageX + x + 'px'),
                    'top': (e.pageY + y - 80 + 'px')
                }).show();
            }).mouseout(function () {
                this.title = newtitle;
                $('#mytitle').remove();
            }).mousemove(function (e) {
                $('#mytitle').css({
                    'left': (e.pageX + x + 10 + 'px'),
                    'top': (e.pageY + y - 60 + 'px')
                }).show();
            })
        });
        //获取当前时间
        window.onload = function () {
            window.requestAnimationFrame(getDate)
        }

        function getDate() {
            window.setTimeout(function () {
                window.requestAnimationFrame(getDate)
            }, 1000 / 2)
            var d = new Date();
            var year = d.getFullYear()  //获取年
            var month = d.getMonth() + 1;  //获取月，从 Date 对象返回月份 (0 ~ 11)，故在此处+1
            var day = d.getDay()    //获取日
            var days = d.getDate() //获取日期
            var hour = d.getHours()   //获取小时
            var minute = d.getMinutes()  //获取分钟
            var second = d.getSeconds()   //获取秒

            if (month < 10) month = "0" + month
            if (days < 10) days = "0" + days
            if (hour < 10) hour = "0" + hour
            if (minute < 10) minute = "0" + minute
            if (second < 10) second = "0" + second
            if (hour >= 6 && hour < 12) {
                $("#tipForTime").html("早上好!");
            } else if (hour >= 12 && hour < 19) {
                $("#tipForTime").html("下午好!");
            } else if (hour >= 19 && hour < 23) {
                $("#tipForTime").html("晚上好!");
            } else {
                $("#tipForTime").html("夜深了!请注意休息!!!");
            }
            var week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")
            var Tools = document.getElementById("time")
            var time = year + "-" + month + "-" + days + " " + hour + ":" + minute + ":" + second + "  " + week[day]
            $("#time").html(time);
        }
    </script>
</head>
<body style="background-color: #b9d5e7">
<a class="imgdiv" href="#gotop">
    <img th:src="@{/static/images/top2.png}" id="gotop" alt="" class="imgsrc"
         style="position: fixed;bottom: 10%;display: none;height: 40px;margin-left: 96.5%">
</a>
<div style="width: 92%;margin-left: 4%">
    <div th:include="common/head2::#h"></div>
    <div th:include="${mainPage}::${mainPageKey}"></div>
    <div th:include="common/foot2::#f"></div>
    <div id="outerdiv"
         style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;" src=""/>
        </div>
        <h1 style="color: yellow;text-align: center">点击图片外任何区域即可关闭图片</h1>
    </div>
</div>
</body>
</html>