<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <!-- contact area Start -->
    <div class="contact-area pd-top-50 pd-bottom-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-area-wrap">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6 style="color: #0c9076">评论列表</h6>
                                <div class="table-responsive">
                                    <table border="1">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">序号</th>
                                            <th style="text-align: center">评论时间</th>
                                            <th style="text-align: center">评论内容</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="comment:${commentList}">
                                            <td style="text-align: center" th:text="${commentStat.count}"></td>
                                            <td style="text-align: center"
                                                th:text="${#dates.format(comment.date,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td style="text-align: center" th:text="${comment.content}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h6 style="color: #0c9076">被封禁ip列表</h6>
                                <div class="table-responsive">
                                    <table border="1">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">序号</th>
                                            <th style="text-align: center">封禁时间</th>
                                            <th style="text-align: center">封禁类型</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ipForBanned:${ipForBannedList}">
                                            <td style="text-align: center" th:text="${ipForBannedStat.count}"></td>
                                            <td style="text-align: center"
                                                th:text="${#dates.format(ipForBanned.date,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td style="text-align: center" th:text="${ipForBanned.type}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h6 style="color: #0c9076">点赞列表</h6>
                                <div class="table-responsive">
                                    <table border="1">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">序号</th>
                                            <th style="text-align: center">点赞时间</th>
                                            <th style="text-align: center">点赞博客</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="like:${likeList}">
                                            <td style="text-align: center" th:text="${likeStat.count}"></td>
                                            <td style="text-align: center"
                                                th:text="${#dates.format(like.date,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td style="text-align: center" th:text="${like.blog.title}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h6 style="color: #0c9076">访问记录列表</h6>
                                <div class="table-responsive">
                                    <table border="1">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">序号</th>
                                            <th style="text-align: center">真实地址</th>
                                            <th style="text-align: center">评论时间</th>
                                            <th style="text-align: center">评论内容</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="interviewRecord:${interviewRecordList}">
                                            <td style="text-align: center" th:text="${interviewRecordStat.count}"></td>
                                            <td style="text-align: center"
                                                th:text="${interviewRecord.trueAddress}"></td>
                                            <td style="text-align: center"
                                                th:text="${#dates.format(interviewRecord.interviewDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td style="text-align: center"
                                                th:text="${interviewRecord.interviewContent}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact area End -->
</div>

</body>
</html>