<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        买烟
                    </h3>
                </div>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <textarea rows="16" class="form-control" id="resultContent" name="content"
                                      placeholder="请输入网页源代码..."></textarea>
                            <a href="javascript:getResult()">
                                <button type="button" class="btn btn-primary btn11" style="margin-top: 8px;" data-toggle="modal" data-target="#myModal">立即提交
                                </button>
                            </a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>