<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <h4 class="ui top attached block header" style="margin-top: 10px">
        买烟
    </h4>
    <div class="ui bottom attached segment orange">
        <form class="ui reply form">
            <div class="field">
                <textarea rows="16" id="resultContent" name="content"
                          placeholder="请输入网页源代码..."></textarea>
            </div>
            <a href="javascript:getResult()">
                <button type="button" class="ui primary button">
                    提交
                </button>
            </a>
        </form>
    </div>
</div>
</body>
</html>