<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        源码下载
                    </h3>
                </div>
                <div class="panel-body">
                    GitHub地址: <a href="https://github.com/a6678696/MyBlog" target="_blank">a6678696/MyBlog: 个人博客系统</a></p>
                    项目介绍地址: <a href="http://www.zoutl.cn/blog/21" target="_blank">个人博客系统</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        按类别分类
                    </h3>
                </div>
                <div class="panel-body">
                    <div th:each="blogType:${blogTypeList}">
                        <p><a th:href="${'/index?blogTypeId='+blogType.id}"
                              th:text="${blogType.name}" style="text-decoration: none"
                              class="test"></a><span class="label label-primary" th:text="${blogType.blogNum}"></span></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        按日期分类
                    </h3>
                </div>
                <div class="panel-body">
                    <div th:each="blogCount:${blogCountList}">
                        <p><a th:href="${'/index?releaseDateStr='+blogCount.releaseDateStr}"
                              th:text="${blogCount.releaseDateStr}"
                              style="text-decoration: none" class="test"></a><span class="label label-primary" th:text="${blogCount.blogCount}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>