<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <!--公告-->
    <div class="row" th:if="${isIndexFirst!=null}">
        <div class="col-md-12">
            <div id="myAlert" class="alert alert-danger box1">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <span style="font-size: 15px">
                    <strong>公告:</strong>
                    本站内容主要来源为个人总结以及整理互联网上技术博客的内容,搬运技术博客所得均已注明出处,本站内容仅供本人学习使用
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        错误信息
                    </h3>
                </div>
                <div class="panel-body">
                    <h3 style="color: red" th:if="${ipNow!=null}">你的ip地址为：<span style="color: #0c9076" th:text="${ipNow}"></span></h3>
                    <h3 style="color: red">看到此页面，说明你的ip被封禁了，被封禁原因：</h3>
                    <h3 style="color: red">①你的ip短时间内高频率访问本站，被系统自动封禁</h3>
                    <h3 style="color: red">②站长手动封禁</h3>
                    <h3 style="color: blue">解决办法：</h3>
                    <h3 style="color: blue">①更换你的ip地址</h3>
                    <h3 style="color: blue">②给我发邮件去后台解除封禁（给我发送第一行文本的ip地址，绿色字体部分），邮箱地址：3519577180@qq.com</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>